<!-- Footer HTML -->
<footer class="custom-footer">
  <div class="footer-container">
    
    <!-- Social Icons -->
    <div class="footer-socials">
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <!-- Brand Info -->
    <div class="footer-brand">
      &copy; 2025 NestVoyage Private Limited
    </div>

    <!-- Footer Links -->
    <div class="footer-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>

  </div>
</footer>
